/****** BASE STYLES *****/

@font-face {
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-size: 1em;
    height: 100%;
    width: 100%;
}

/***** HEADER *****/

.main-header {
    font-size: 0.875em;
    text-align: center;
    margin: auto;
    width: 98%;
    padding: 0 1%;
}

.header-wrapper {
    width: 100%;
}

header div h1 {
    font-size: 2.143em;
    line-height: 1.643em;
    padding: 20px 0px 8px 0px;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    border-bottom: 3px solid #77a466;
}

header span {
    color: #77a466;
    width: 98%;
}

header nav {
    width: 100%;
}

header nav ul {
    padding: 0;
}

header nav ul li {
    font-size: 1em;
    text-decoration: none;
    padding: 10px 0px;
    list-style: none;
}

header nav ul li a {
    color: #77a466;
    display: block;
    font-weight: 700;
    line-height: 1.643em;
    text-transform: uppercase;
    text-decoration: none;
}


/***** TOP SECTION ******/

main {
    width: 98%;
    padding: 0 1%;
    margin: auto;
    display: block;
}

.top-section {
    font-size: 1.5em;
    margin: 0;
    display: block;
}

.main-image {
    width: 100%;
    margin: auto;
    display: block;
}

.main-image img {
	border-bottom: 1px solid #77a466;
    border-top: 1px solid #77a466;
    margin: auto;
    width: 100%;
}

.top-section-welcome {
    padding: 5px 10px;
    width: 100%;
}

h2 {
    color: #77a466;
    font-size: 1.125em;
    line-height: 1.278em;
    text-transform: uppercase;
}

#welcome {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.3125em;
}

/***** BOTTOM SECTION *****/

.section-one, .section-two, .section-three {
    border-top: 1px solid #eee;
    padding-top: 1px;
    font-size: 1.125em;
    margin: auto;
    display: block;
    width: 100%;
}

.section-one h3, .section-two h3, .section-three h3 {
    font-size: 0.75em;
    line-height: 1.5em;
    text-transform: uppercase;
    padding-left: 20px;
}

.menu {
    list-style: none;
    padding: 0;
}

.section-one li {
    color: #77a466;
    font-size: 1em;
    font-weight: normal;
    line-height: 30px;
    padding: 0px 30px;
}

.section-two p {
    font-size: 1em;
    font-weight: normal;    
    line-height: 1.313em;
    padding: 0px 30px;
}

.section-three p {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    padding: 0px 30px;
}

/***** FOOTER *****/

footer {
    border-top: 3px solid #eee;
    clear: both;
    padding: 15px 0px;
    width: 100%;
    margin: auto;
}

footer p {
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

footer span {
    font-family: 'Wisdom Script', cursive;
  	text-transform: lowercase;
	font-style: italic;
  	color: #77a466;
    font-size: 0.875em;
}


/* TABLET STYLES ================================= */

@media (min-width: 768px) {

.main-header {
    width: 100%;
    margin: auto;
    padding: 0 3%;
}
.bottom-section {
    width: 100%;
}

.section-one, .section-two, .section-three {
    width: 33%;
    height: auto;
    display: block;
    float: left;
}

.section-two {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.bottom-section h3 {
    padding-top: 1em;
    margin: 0;
}

.menu {
    margin: 0;
    padding-top: 1em;
}
}


/* DESKTOP STYLES ================================ */

@media (min-width: 940px) {

.main-header {
    margin: 0 auto;
    display: block;
}

.header-wrapper {
    width: 50%;
    float: left;
}    

header div h1 {
    border-bottom: none;
    float: left;
    text-align: left;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    padding: 0;
    margin: 0;
    display: inline;
}

header nav ul li {
    display: inline-block;
    padding: 32px 10px;
}

header nav ul li a {
    display: block;
    text-align: left;
}


}