/****** BASE STYLES *****/

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
    font-size:16px;
}

header, body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 auto;
    width: 1200px;
    font-size: 1em;
}

.half-width {
    float: left;
    width: 600px;
}


/***** HEADER *****/

header {
	font-size: .875em;
}

header h1 {
    font-size: 2.143em;
    line-height: 1.643em;
    padding: 1.071em 0px 0px 0px;
    text-transform: uppercase;
}

div {
    display: block;
}

header span {
    color: #77a466;
}

nav {
    float: right;
    padding: 1.428em 1.786em 1.071em 0px;

}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #77a466;
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.643em;
    padding-right: 1.0714em;
    text-decoration: none;
    text-transform: uppercase;
}


/***** TOP SECTION ******/

.top-section {
    font-size: 1.125em;
}

.main-image img {
	border-bottom: 0.167em solid #77a466;
    border-top: 0.167em solid #77a466;
}


h2 {
    color: #77a466;
    font-size: 1em;
    line-height: 1.278em;
    text-transform: uppercase;
}

#welcome {
    font-size: 0.889em;
    font-weight: normal;
    line-height: 1.389em;

}

/***** BOTTOM SECTION *****/

.section-one, .section-two, .section-three {
    border-top: 0.0625em solid #eee;
    float: left;
    height: auto;
    padding-top: 0.625em;
    width: 24.938em;
    font-size: 1em;
}

.section-one h3, .section-two h3, .section-three h3 {
    font-size: 0.75em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.menu {
    list-style: none;
    padding: 0;
}
.section-one li {
    color: #77a466;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.875em;
}

.section-two h3,
.section-three h3{
	   padding-left: 1.875em;
}

.section-two {
    border-left: 0.063em solid #eee;
    border-right: 0.063em solid #eee;
}

.section-two p {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.313em;
    padding: 0px 1.875em;
}

.section-three p {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    padding: 0px 1.875em;
}

/***** FOOTER *****/

footer {
    border-top: 0.063em solid #eee;
    clear: both;
    padding: 0.938em 0px;
}

footer p {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.438em;
    text-align: center;
    text-transform: uppercase;
}

footer span {
    font-family: 'Wisdom Script', cursive;
  	text-transform: lowercase;
		font-style: italic;
  	color: #77a466;
    font-size: 0.875em;
}
